{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "generators": true,
      "modules": true,
      "objectLiteralDuplicateProperties": true
    }
  },
  "extends": "airbnb",
  "rules": {
    "no-underscore-dangle": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 1,
    "no-restricted-syntax": 0,
    "guard-for-in": 1,
    "no-bitwise": 0,
    "no-continue": 0,
    "prefer-destructuring": 0,
    "no-restricted-globals": 0,
    "prefer-promise-reject-errors": 0,
    "no-mixed-operators": 0,
    "no-param-reassign": 0,
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*"},
      { "blankLine": "any", "prev": ["const", "let", "var"], "next": ["const", "let", "var"]},
      { "blankLine": "always", "prev": "*", "next": "return" }
    ],
    "global-require": 0
  }
}