*
  margin: 0
  padding: 0
  box-sizing: border-box
  border: 0
  border-radius: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-size-adjust: none
  -webkit-text-size-adjust: none
  -webkit-tap-highlight-color: transparent
  word-break: break-word

*:after, *:before
  box-sizing: border-box

*:focus
  outline: none

a
  text-decoration: none

textarea
  resize: none

input, textarea
  -webkit-appearance: none !important
  -moz-appearance: none
  -ms-appearance: none
  appearance: none !important
  font-family: inherit

input:focus, textarea:focus
  outline: none

html, body
  width: 100%
  font-family: 'Open Sans', Arial, sans-serif

table
  cellspacing: 0 !important
  border-spacing: 0 !important

img
  display: block
  width: 100%

.main
  padding-top: 80px
  min-height: calc(100vh - 80px)
  &.m_full
    min-height: 100vh