.main
  padding: 80px 0 0 350px

.m_width
  padding: 115px 150px 88px
  max-width: 1200px
  width: 100%
  min-height: calc(100vh - 80px - 80px)

.anchor_link
  position: absolute
  margin-top: -100px
  cursor: pointer

.anchor_link_style
  display: inline-block
  vertical-align: middle
  width: 20px
  margin-left: -20px
  transform: translate(-50%, -10%)
  opacity: 0

.doc
  &_code
    padding: 0 7px
    border-radius: 3px
    display: inline-block

  pre,
  p
    margin-bottom: 16px
  ul
    margin-bottom: 38px

  h1,
  h2,
  h3,
  h4,
  h5
    margin-top: 62px
    margin-bottom: 16px
    font-weight: 600
    line-height: 1.25
    &:hover
      .anchor_link_style
        opacity: 1

  pre + h2,
  pre + h3,
  pre + h4,
  pre + h5,
  h2 + h3
    margin-top: 24px

  h6
    text-transform: uppercase
    font-weight: 400
    margin-top: 24px
    margin-bottom: 16px

  ul
    list-style-position: inside

  table
    width: 100%
    border-collapse: collapse

  td
    padding: 20px 10px 20px 0
    border-top: 1px solid #f6f6f6
    border-bottom: 1px solid #f6f6f6
    width: 20%
    vertical-align: top
    &:nth-child(2)
      width: 30%
    &:nth-child(3)
      width: 60px

  div
    >iframe
      margin-bottom: -41px

  >:first-child
    margin-top: 0
  >:last-child
    margin-bottom: 0
    > iframe
      margin-bottom: 0
