.root
  min-height: 100%
  padding: 90px 0 90px 350px

.m_width
  padding: 0 150px
  max-width: 1200px
  width: 100%

.doc
  pre,
  p,
  ul
    margin-bottom: 16px

  h1,
  h2,
  h3,
  h4,
  h5
    margin-top: 64px
    margin-bottom: 16px
    font-weight: 600
    line-height: 1.25

  h6
    text-transform: uppercase
    font-weight: 400
    margin-top: 24px
    margin-bottom: 16px

  ul
    list-style-position: inside

  table
    width: 100%
    border-collapse: collapse

  td
    padding: 20px 10px 20px 0
    border-top: 1px solid #f6f6f6
    border-bottom: 1px solid #f6f6f6
    width: 20%
    vertical-align: top
    &:nth-child(2)
      width: 30%
    &:nth-child(3)
      width: 60px

  >:first-child
    margin-top: 0
