@import ../../styles/_mixins

.root
  width: 350px
  height: 100%
  display: inline-block
  vertical-align: top

.header
  padding: 25px 26px 56px 25px

.search_field
  input
    border-radius: 20px
    padding: 0 20px
    font-size: 14px

.list
  padding: 0 50px 60px
  list-style-type: none
  height: calc(100% - 125px)
  overflow: auto
  width: 100%

@include tablet()
  .root
    width: 280px
