<!DOCTYPE html>
<html lang="en">
<head>
  <meta charSet="UTF-8" />
  <meta httpEquiv="Cache-Control" content="no-cache" />
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  />
  <meta
    httpEquiv="X-UA-Compatible"
    content="ie=edge"
  />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta
    name="description"
    content="GammaCV is a WebGL accelerated Computer Vision library for modern web applications."
  />
  <meta
    name="Keywords"
    content="computer vision, WebGL, javascript"
  />

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      border: 0;
      border-radius: 0;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-size-adjust: none;
      -webkit-text-size-adjust: none;
      -webkit-tap-highlight-color: transparent;
      word-break: break-word;
    }

    *:after, *:before {
      box-sizing: border-box;
    }

    *:focus {
      outline: none;
    }

    a {
      text-decoration: none;
    }

    textarea {
      resize: none;
    }

    input, textarea {
      -webkit-appearance: none !important;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none !important;
      font-family: inherit;
    }

    input:focus, textarea:focus {
      outline: none;
    }

    html, body {
      width: 100%;
      font-family: 'Open Sans', Arial, sans-serif;
      height: 100%;
    }

    table {
      cellspacing: 0 !important;
      border-spacing: 0 !important;
    }

    #root,
    #shell,
    .root {
      min-width: 320px;
      width: 100%;
      height: 100%;
    }

    #shell {
      position: fixed;
      top: 0;
      left: 0;
    }

    .clear:after {
      content: "";
      clear: both;
      display: table;
    }

    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  </style>

  <link rel="stylesheet" href="/assets/css/theme.css">

  <noscript>
    <div
      style="position: 'fixed'; width: '100%'; height: '100%'; background: '#fff';"
    >
      <div
        style="padding: 40px"
      >
        <h1>
          Looks like Javascript is disabled.
        </h1>
        <p
          style="padding-top: 10px"
        >
          We use Javascript to provide a rich, interactive and secure user experience. Turn Javascript on and try again. <a href="https://enable-javascript.com" rel="noopener noreferrer" target="_blank">Learn more.</a>
        </p>
      </div>
    </div>
  </noscript>

<% if (htmlWebpackPlugin.options.INIT_ROLLBAR) { %>
  <script>
    var _rollbarConfig = {
      accessToken: "<%= htmlWebpackPlugin.options.ROLLBAR_API_KEY %>",
      captureUncaught: true,
      captureUnhandledRejections: true,
      payload: {
        environment: "production",
      },
    };
  </script>
  <script async src="/assets/libs/rollbar.js"></script>
<% } %>

<% if (htmlWebpackPlugin.options.INIT_ANALYTICS) { %>
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= htmlWebpackPlugin.options.GOOGLE_ANALYTICS %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', "<%= htmlWebpackPlugin.options.GOOGLE_ANALYTICS %>");
  </script>
<% } %>
</head>
<body>
  <div id="root">
    <div data-component="circular-progress" class="circle_progress loader" style="width:100px;height:100px">
      <svg class="circle_progress_svg" viewBox="0 0 50 50">
        <circle class="circle_progress_stroke_light_grey" cx="25" cy="25" r="20" fill="none" stroke-width="2"></circle>
        <circle class="circle_progress_circle circle_progress_stroke_primary" cx="25" cy="25" r="20" fill="none" stroke-width="2"></circle>
      </svg>
    </div>
  </div>

<% if (htmlWebpackPlugin.options.DISABLE_REACT_DEV_TOOLS) { %>
  <script>
    if (typeof window.__REACT_DEVTOOLS_GLOBAL_HOOK__ === 'object') {
      window.__REACT_DEVTOOLS_GLOBAL_HOOK__.inject = function() {}
    }
  </script>
<% } %>
</body>
</html>
