@import ../../styles/_mixins
  
.root
  height: 80px
  padding: 0 20px 0 30px
  display: flex
  align-items: center
  top: 0
  left: 0
  width: 100%
  position: relative
  z-index: 5

.logo
  width: 135px
  display: block

.spacer
  flex: 1 1 auto

.nav_item
  padding: 0 10px
