.root
  padding: 190px 0 40px
  min-height: calc(100vh - 80px)
.m_width
  padding: 0 100px

.header
  padding-bottom: 47px
  display: flex
  justify-content: space-between
  align-items: center

.items_wrapper
  padding-top: 43px

.not_found
  margin-top: 50px

.search_field
  width: 300px
  input
    border-radius: 20px
    padding: 0 20px
    font-size: 14px
